<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">

<head>

<title>Movie Memoir - Edit a Review</title>
<meta http-equiv = "Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha834-ggOyR0iXCbMQv3Xipma34MD+dh/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div style="text-align:center">
<h2 style="height:60px;">Edit a Review</h2>

	<form th:object="${film}" th:action="@{../save}" action="#" method="post">
 
	<input type="hidden" th:field="*{id}" class="form-control"/>

	
	<div class="form-group">
		<label for="writtenby">Reviewed By</label> <br>
		<input type="text" class="col-sm-5 control-label" id="writtenby" th:field="*{writtenby}"/>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	

	<div class="form-group">
		<label for="title">Movie</label> <br>
		<input type="text" class="col-sm-5 control-label" id="title" th:field="*{title}"/>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	
	<div class="form-group">
		<label for="releasedate">Release Date</label> <br>
		<input type="text" class="col-sm-5 control-label" id="releasedate" th:field="*{releasedate}"/>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	
	<div class="form-group">
		<label for="genre">Genre</label> <br>
		<select id="genre" th:field="*{genre}" class="col-sm-5 control-label">
		<option th:each="genre: ${genres}" th:value="${genre.genreid}" th:text="${genre.genrename}"></option>
		</select>
		<div style="clear: both; display:block; height:10px;"></div>
	</div>
	
	<div class="form-group">
		<label for="director">Directors</label> <br>
		<input type="text" class="col-sm-5 control-label" id="director" th:field="*{director}"/>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	
	<div class="form-group">
		<label for="cast">Cast</label> <br>
		<input type="text" class="col-sm-5 control-label" id="cast" th:field="*{cast}"/>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	
	<div class="form-group">
		<label for="length">Length (minutes)</label> <br>
		<input type="text" class="col-sm-5 control-label" id="length" th:field="*{length}"/>
		<div style="clear: both; display:block; height:10px"></div>
	</div>

	<div class="form-group">
		<label for="productioncompany">Production Company</label> <br>
		<input type="text" class="col-sm-5 control-label" id="productioncompany" th:field="*{productioncompany}"/>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	
	<div class="form-group">
		<label for="review1">Start Your Review From Here</label> <br>
		<textarea id="review1" rows="7" cols="50" maxlength="255" th:field="*{review1}"></textarea>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	
	<div class="form-group">
		<label for="review2">Continue Your Review Here</label> <br>
		<textarea id="review2" rows="7" cols="50" maxlength="255" th:field="*{review2}"></textarea>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	
	<div class="form-group">
		<label for="review3">Continue Your Review Here</label> <br>
		<textarea id="review3" rows="7" cols="50" maxlength="255" th:field="*{review3}"></textarea>
		<div style="clear: both; display:block; height:10px"></div>
	</div>	
	
	<div class="form-group">
		<label for="mygrade">Your Grade</label> <br>
		<input type="number" size="1" maxlength="1" id="mygrade" th:field="*{mygrade}" min="1" max="5" style="text-align:center"/>
		<span> / 5 </span>
		<div style="clear: both; display:block; height:10px"></div>
	</div>
	
	
	<input type="submit" class="btn btn-success" value="Save"></input>
	<br>
	<br>
	
</form>
</div>

	
</body>

</html>