<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Movie Memoir - Sign Up</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container" style="text-align:center">
	<h1>Sign Up</h1>
		<div class="col-md-4 col-md-offset-4" style="margin-left:auto; margin-right:auto; width:16em">

			<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
				<div>
					<label>Username <input type="text" th:field="*{username}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
				</div>
				
				<div>
					<label>Write a Safety Question<input type="text" th:field="*{question}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('answer')}" th:errors="*{question}">Answer Error</p>
				</div>
				
				<div>
					<label>Write Your Answer<input type="password" th:field="*{answer}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}">Answer Error</p>
				</div>
				
				<div>
					<label>Password: <input type="password" th:field="*{password}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
				</div>
				<div>
					<label>Write Password Again: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
					<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">The Passwords Do Not Match</p>
				</div>
			
				<input type="submit" class="btn btn-primary" value="Sign Up"></input>	
			</form>
		</div>

			<div style="text-align:right">
				<a href="/login">
				<button>RETURN</button></a>
			</div>

</div>
</body>
</html>